<div class="jumbotron">
  <h1 class="text-center">你好，歡迎來到這裡!</h1>
  <p class="text-center">這是第一個用Ruby on Rails開發的網站</p>
  <p class="text-center"><a href="#" class="btn-success btn-lg" role="button">更多訊息 &raquo;</a></p>
  </div>
